/* If font is specified as a shorthand for several font-related properties,
then: it must include values for: <font-size><font-family> */
.example {
    font: 2em "Open Sans",sans-serif;
}

/* text-indent 
The text-indent CSS property specifies the amount of indentation (empty space) that is put before lines of text in a block. By default,
this controls the indentation of only the first formatted line of the block,
but the hanging and each-line keywords can be used to change this behavior.
text-indent设置一个负的极大值，则里面的文字将跑出容器，达到隐藏文字的目的
*/

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.boxShadow {
    box-shadow: inset 0 0 1em gold,0 0 1em red;
}

/* background-attachment 
If a background-image is specified,the background-attachment CSS property determines 
whether that image's position is fixed within the viewport, or scrolls along with its containing block. */

/* background-origin
Initial value    padding-box */

/* position: relative;
参照物为元素自身 */

/* position: absolute
参照物为第一个定位祖先/根元素 */

/* position: fixed
参照物为视窗 */

.clearfix:after{
    content:'.';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}

/* flex&nbsp;ie9及以下不支持，目前主要用于移动web页面中 */

/* transform-origin */
/* perspective */
/* transition-delay */

/* div等元素height:100%高度为什么不生效 */
/* In specific,all percentage-based sizes must inherit from parent block elements,
and if any of those ancestors fail to specify a size,they are assumed to be sized at 0 x 0 pixels 
具体地讲，所有基于本分比的尺寸必须从父块元素继承，并且如果任一父项未能指定尺寸，则它们的尺寸假定为0 x 0像素 */

/* 隐藏H1文本为Logo标志  */
 h1 {
text-indent: -9999px;
margin: 0 auto;
width: 320px;
height: 85px;
background: transparent url("images/logo.png") no-repeat scroll;
}

/* 强制垂直滚动条 */
html {
    height: 101%
}

/* 三角形列表前缀 */

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
    li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
     border-width: 0.35em 0 0.35em 0.45em;
     display: block;
     height: 0;
     width: 0;
     left: -1em;
     top: 0.9em;
     position: relative;
}

/* 网页顶端阴影  */
body:before {
content: "";
position: fixed;
top: -10px;
left: 0;
width: 100%;
height: 10px;
-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
 -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
 box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
 z-index: 100;

}

hr {
    height: .5em;
    background: currentColor;
}